.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.main-content h1 {
    font-family: 'Sacramento', cursive;
    text-align: center;
    color: #ffffff;
    font-size: 4rem;
    text-shadow: 2px 2px 2px #8f7287;
    margin: 10% 0;
    font-weight: bold;
}


@media (max-width: 480px) {
    .main-content h1 {
        font-size: 2rem;
    }
}