.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.main-content h1,
h2 {
    color: #ffffff;
    font-size: 3rem;
    text-shadow: 4px 2px 1px #ac8395;
    margin: 10% 0;
}

.main-content h2 {
    font-size: 1.3rem;
    margin: 0%;
}